apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ddns

commonLabels:
  app.kubernetes.io/name: ddns

resources:
- namespace.yml
- cronjob.yml

# Note: Cloudflare & Github tokens
# not defined here.
configMapGenerator:
- name: app-config
  literals:
  - ZONE_NAME=<CHANGE_ME>
  - RECORD_NAME=<CHANGE_ME>

images:
# Needs to be updated on each new release
- name: ghcr.io/cguertin14/ddns
  newTag: v1.6.1
